body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/****** Font Family *******/

/* @font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"), url(./fonts/BebasNeue-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url(./fonts/Bebas-Regular.otf) format("opentype");
} */

/***** Scroll Bar ******/

::-webkit-scrollbar-thumb {
  background: linear-gradient(#313100, #383800) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background: linear-gradient(#b6bdc6, #b1cef3) !important;
  width: 15px !important;
}

/***** Header ******/

.right_header .item {
  font-family: Bebas Neue;
  border-radius: 0 !important;
  font-size: 20px;
  height: 100%;
  margin: 0 !important;
}

.ui.secondary.menu a.item:hover {
  background: #ffc425 !important;
  color: #fff !important;
}

.ui.menu {
  margin: 0 !important;
}

.ui.secondary.menu .active.item {
  box-shadow: none;
  background: #313100 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.ui.secondary.menu {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048) !important;
  position: fixed !important;
  background: #fff !important;
  z-index: 101;
  width: 101%;
  left: 0;
  top: 0;
}

/****** Showcase *******/
.showcase {
  background-size: cover !important;
  height: 100vh;
}
.showcase-content {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.showcase-content-subheading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  margin-bottom: -25px;
  font-size: 40px;
  color: #ffc425;
}

.showcase-content-heading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  font-size: 80px;
  color: #fff;
}
.showcase-content-heading::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin-bottom: 10px;
}

.showcase-content-desc {
  padding-top: 10px;
  font-family: Montserrat;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

.showcase-content-button {
  display: flex;
  margin-top: 50px;
}

.showcase-content-button-leftcontainer {
  font-family: Bebas Neue;
  margin-right: 10px;
}
.showcase-content-button-leftcontainer a {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 2px #ffc425;
  color: #000 !important;
  background: #ffc425;
  font-size: 20px;
  letter-spacing: 1px;
}

.showcase-content-button-rightcontainer {
  font-family: Bebas Neue;
}
.showcase-content-button-rightcontainer a {
  padding: 10px 20px;
  border: solid 2px #fff;
  border-radius: 30px;
  color: #fff !important;
  letter-spacing: 1.5px;
  font-size: 20px;
}

/***** Service ******/

#services_ {
  border: none !important;
  margin: 100px 0;
}

.service-title {
  font-family: Bebas Neue;
  text-align: left;
  font-size: 30px;
}
.service-title::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin: 10px 0;
}

.service-desc {
  margin-top: 10px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
}

.grid.services-content {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  margin: 5px !important;
  padding: 60px !important;
  color: #fff;
  background: #313100;
}

/***** Customers ******/

#customers {
  padding-bottom: 150px;
}

#customers_ {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}
.customers-heading {
  margin: 5%;
  font-family: Bebas Neue;
  line-height: 1;
  font-size: 100px;
  color: #fff;
}

.customers-card {
  margin-top: -5% !important;
  border: none !important;
  z-index: 100;
}

.grid.customers-content {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 80px 10px !important;
  margin: 5px !important;
  background: #fff;
  border-radius: 10%;
  z-index: 100;
}
.customers-title {
  font-family: Bebas Neue;
  text-align: center;
  font-size: 30px;
  color: #313100;
  line-height: 1;
}

.customers-desc {
  margin-top: 25px;
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.customers-extradesc {
  margin-top: 100px;
  font-family: Montserrat;
  width: 50% !important;
  text-align: center;
  font-size: 14px;
  color: #000;
}

/***** Footer ******/

.footer {
  background: #313100 !important;
}
.footer::before {
  display: block;
  content: "";
  width: 100%;
  margin-top: -15px;
  height: 20px;
  background: #515100;
}

.footer-content {
  padding: 50px 0;
}

.footer-title {
  font-family: Bebas Neue;
  letter-spacing: 1.5px;
  text-align: left;
  font-size: 28px;
  color: #fff;
}

.footer-desc {
  font-family: Montserrat;
  letter-spacing: 1px;
  padding-top: 25px;
  text-align: left;
  font-size: 12px;
  color: #fff;
}

.ui.container.footer-poweredby {
  justify-content: center;
  display: flex;
}

.systemoph {
  display: flex;
  font-family: Bebas Neue;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 5px;
}

/**** About Us ******/

.showcase-aboutus {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 50vh;
}

.showcase-aboutus-content {
  height: 50vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.showcase-aboutus-content-heading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  font-size: 120px;
  color: #fff;
}
.showcase-aboutus-content-heading::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin: 0 auto !important;
  margin-bottom: 10px;
}

/**** Content ******/

.content-aboutus {
  padding: 200px 0 !important;
}

.mission-heading {
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 20px 0;
  color: #313100;
}

.mission-desc {
  font-family: Montserrat;
  font-size: 20px;
  color: #000;
}
