body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/****** Font Family *******/

/* @font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"), url(./fonts/BebasNeue-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url(./fonts/Bebas-Regular.otf) format("opentype");
} */

/***** Scroll Bar ******/

::-webkit-scrollbar-thumb {
  background: linear-gradient(#313100, #383800) !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  background: linear-gradient(#b6bdc6, #b1cef3) !important;
  width: 15px !important;
}

/***** Header ******/

.right_header .item {
  font-family: Bebas Neue;
  border-radius: 0 !important;
  font-size: 20px;
  height: 100%;
  margin: 0 !important;
}

.ui.secondary.menu a.item:hover {
  background: #ffc425 !important;
  color: #fff !important;
}

.ui.menu {
  margin: 0 !important;
}

.ui.secondary.menu .active.item {
  box-shadow: none;
  background: #313100 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.ui.secondary.menu {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048) !important;
  position: fixed !important;
  background: #fff !important;
  z-index: 101;
  width: 101%;
  left: 0;
  top: 0;
}

/****** Showcase *******/
.showcase {
  background-size: cover !important;
  height: 100vh;
}
.showcase-content {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.showcase-content-subheading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  margin-bottom: -25px;
  font-size: 40px;
  color: #ffc425;
}

.showcase-content-heading {
  font-family: Bebas Neue;
  letter-spacing: 5px;
  font-size: 80px;
  color: #fff;
  line-height: 1;
}
.showcase-content-heading::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin-bottom: 10px;
}

.showcase-content-desc {
  padding-top: 10px;
  font-family: Montserrat;
  letter-spacing: 0.5px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}

.showcase-content-button {
  display: flex;
  margin-top: 50px;
}

.showcase-content-button-leftcontainer {
  font-family: Bebas Neue;
  margin-right: 10px;
}
.showcase-content-button-leftcontainer a {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 30px;
  border: solid 2px #ffc425;
  color: #000 !important;
  background: #ffc425;
  font-size: 20px;
  letter-spacing: 1px;
}

.showcase-content-button-rightcontainer {
  font-family: Bebas Neue;
}
.showcase-content-button-rightcontainer a {
  padding: 10px 20px;
  border: solid 2px #fff;
  border-radius: 30px;
  color: #fff !important;
  letter-spacing: 1.5px;
  font-size: 20px;
}

.showcase,
#customers_ {
  background-position: center !important;
  background-attachment: fixed !important;
}

/***** Service ******/

#services_ {
  border: none !important;
  margin: 100px 0;
}

.service-title {
  font-family: Bebas Neue;
  line-height: 1;
  text-align: left;
  font-size: 30px;
  letter-spacing: 1px;
}
.service-title::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin: 10px 0;
}

.service-desc {
  margin-top: 10px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}

.grid.services-content {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  margin: 5px !important;
  padding: 60px !important;
  color: #fff;
  background: #313100;
}

/***** Customers ******/

#customers {
  padding-bottom: 150px;
}

#customers_ {
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.customers-heading {
  margin: 5%;
  font-family: Bebas Neue;
  line-height: 1;
  font-size: 100px;
  color: #fff;
}

.customers-card {
  margin-top: -5% !important;
  border: none !important;
  z-index: 100;
}

.grid.customers-content {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  padding: 80px 8px !important;
  margin: 5px !important;
  background: #fff;
  border-radius: 40px;
  z-index: 100;
  min-height: 500.59px;
}
.customers-title {
  font-family: Bebas Neue;
  text-align: center;
  font-size: 30px;
  color: #313100;
  line-height: 1;
}

.customers-desc {
  margin-top: 25px;
  font-family: Montserrat;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.customers-extradesc {
  margin-top: 100px;
  font-family: Montserrat;
  width: 50% !important;
  text-align: center;
  font-size: 14px;
  color: #000;
}

/***** Footer ******/

.footer {
  background: #313100 !important;
}
.footer::before {
  display: block;
  content: "";
  width: 100%;
  margin-top: -15px;
  height: 20px;
  background: #515100;
}

.footer-logo {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.53));
}

.footer-content {
  padding: 100px 0 100px 0;
}

.footer-title {
  font-family: Bebas Neue;
  letter-spacing: 1.5px;
  text-align: left;
  line-height: 1;
  font-size: 28px;
  color: #fff;
}

.footer-desc {
  font-family: Montserrat;
  letter-spacing: 1px;
  padding-top: 25px;
  text-align: left;
  font-size: 12px;
  color: #fff;
}

.ui.container.footer-poweredby {
  justify-content: center;
  display: flex;
}

.systemoph {
  display: flex;
  font-family: Bebas Neue;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 5px;
}

/**** About Us ******/

.showcase-aboutus {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 50vh;
}

.showcase-aboutus-content {
  height: 50vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.showcase-aboutus-content-heading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  font-size: 120px;
  color: #fff;
}
.showcase-aboutus-content-heading::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin: 0 auto !important;
  margin-bottom: 10px;
}

/**** Content ******/

.content-aboutus {
  padding: 200px 0 !important;
}

.mission-content-aboutus {
  border-right: 2px solid #ffc425;
}

.mission-heading {
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 20px 0;
  color: #313100;
}

.mission-desc {
  font-family: Montserrat;
  line-height: 1.5;
  font-size: 16px;
  padding: 35px;
  color: #000;
}

.showcase-content-button-leftcontainer a:hover {
  border: solid 3px #000;
  color: #000 !important;
  background: #ffc425;
  cursor: pointer;
}

.showcase-content-button-rightcontainer a:hover {
  cursor: pointer;
}

.grid.president-content {
  margin: 200px 0 !important;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  padding: 32px !important;
  border-radius: 20px;
}

.president-image-content img {
  margin: 0 auto !important;
}

.president-desc-content {
  margin: auto 0 !important;
}

.president-title {
  flex: 1;
  font-family: Montserrat;
  font-size: 16px;
  padding-right: 30px !important;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 1.5;
}

.president-desc {
  font-family: Montserrat;
  padding-right: 30px;
  text-align: right;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

.president-desc-2 {
  font-family: Montserrat;
  padding-right: 30px;
  text-align: right;
  font-size: 14px;
}

.president-title span {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}

.president-title span#about-qg {
  font-size: 16px;
  font-weight: 600;
  /*font-style: italic;*/
  letter-spacing: 0.75px !important;
}

.president-title strong {
  color: #313100;
}

.president-title strong::after {
  content: "";
  border-bottom: 2px solid #ffc425;
  display: block;
  width: 50%;
  margin-top: 10px;
  margin-bottom: -20px;
}

.vision-heading {
  font-family: Bebas Neue;
  font-size: 50px;
  padding: 20px 0;
  color: #313100;
}

.vision-desc {
  font-family: Montserrat;
  line-height: 1.5;
  font-size: 16px;
  padding: 35px;
  color: #000;
}

.aboutus-content {
  border-right: 1px solid #313100;
  padding: 20px;
}
.aboutus-content-desc {
  font-family: Montserrat;
  line-height: 1.5;
  text-align: right;
}

.showcase-products {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.08),
    0 5px 22px 4px rgba(0, 0, 0, 0.048);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 50vh;
}

.showcase-products-content {
  height: 50vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.showcase-products-content-heading {
  font-family: Bebas Neue;
  letter-spacing: 0.5px;
  font-size: 120px;
  color: #fff;
}
.showcase-products-content-heading::after {
  content: "";
  border-bottom: 3px solid #ffc425;
  display: block;
  width: 60%;
  margin: 0 auto !important;
  margin-bottom: 10px;
}

.segment.content-product {
  padding: 100px 0 !important;
}

/***** Categories ******/

.product-content-desc {
  padding: 150px;
  font-family: Montserrat;
  line-height: 1.5 !important;
  text-align: ceneter;
}

.product-categories-image {
  margin: 0 auto !important;
}

.product-content-categories-heading {
  font-family: Bebas Neue;
  line-height: 1;
  font-size: 26px;
  padding: 20px;
}

.product-features {
  text-align: left;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 600;
}

.product-content-categories button {
  background: #313100;
  padding: 10px 40px;
  font-family: Bebas Neue;
  color: #fff !important;
  font-size: 18px;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 20px;
}

/**** Product ******/
.segment.content-products {
  padding: 50px;
}

.product {
  margin: 80px 0 40px 0 !important;
  font-family: Bebas Neue;
  font-size: 40px;
  text-align: left;
  line-height: 1;
}

.column.product-content {
  box-shadow: 0 7px 8px -4px rgba(49, 49, 0, 0.08),
    0 5px 22px 4px rgba(49, 49, 0, 0.048) !important;
  margin: 10px 10px;
  border-radius: 20px;
  padding: 40px !important;
}

.product-content img {
  margin: 0 auto;
}
.product-content-heading {
  color: #313100;
  padding-top: 35px;
  font-family: Bebas Neue;
  line-height: 1.1;
  font-size: 32px;
  text-align: left;
}
.product-desc ul {
  padding: 0px !important;
  font-family: Montserrat;
  /* list-style: none; */
  line-height: 1.5;
  text-align: left;
  font-size: 11px;
  color: #000;
  font-weight: 500;
}

.slick-slider > .slick-prev::before,
.slick-slider > .slick-next::before {
  color: #313100 !important;
}

.slick-dots {
  position: relative !important;
  margin-top: 25px !important;
}

.trafficroadsafety-trafficsigns {
  text-align: left;
  margin: 50px 0;
}

.trafficroadsafety-trafficsigns-heading {
  font-size: 30px;
  font-family: Bebas Neue;
  margin-bottom: 20px;
}

.trafficroadsafety-trafficsigns-desc {
  font-size: 16px;
  line-height: 1.4;
  font-family: Montserrat;
  letter-spacing: 1px;
}

.safetysignages-container {
  text-align: left;
  margin: 50px 0;
}

.safetysignages-heading {
  font-size: 35px;
  font-family: Bebas Neue;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.safetysignages-heading-product {
  font-size: 25px;
  text-align: left;
  font-family: Bebas Neue;
  color: #313100;
  margin: 35px;
}

.safetysignages-desc-container {
  display: flex;
}

.safetysignages-container-size,
.safetysignages-container-print,
.safetysignages-container-substrate {
  flex: 1;
}

.safetysignages-container-size-heading,
.safetysignages-container-print-heading,
.safetysignages-container-substrate-heading {
  margin-top: 20px;
  font-family: Bebas Neue;
  font-size: 24px;
}

.safetysignages-container-size-desc,
.safetysignages-container-print-desc,
.safetysignages-container-substrate-desc {
  margin-top: 10px;
  font-family: Montserrat;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 13px;
}

/**** Mobile Queries ******/

@media only screen and (max-width: 991px) {
  .header_container {
    flex-direction: column !important;
  }

  .header_container > .item img {
    max-width: 65% !important;
    margin: 0 auto !important;
  }

  .header_container .right.menu {
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .showcase-content-subheading {
    margin-bottom: 0 !important;
  }

  .showcase-content-heading {
    line-height: 1;
    font-size: 80px;
  }

  .showcase-content-desc {
    line-height: 1;
  }

  /**** Services *****/
  .ui.grid .ui.stackable.grid.services-content {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }

  .services-image {
    width: 150px !important;
    margin: 0 auto !important;
  }

  /**** Customer *****/

  .customers-heading {
    font-size: 50px !important;
    margin: 5%;
  }

  .customers-card {
    margin-top: 0 !important;
  }

  .ui.grid .ui.stackable.grid.customers-content {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
  }

  .customers-image {
    width: 150px !important;
    margin: 0 auto !important;
  }

  .customers-extradesc {
    padding: 0 100px !important;
  }

  /**** Footer ****/

  .footer-content {
    padding: 100px !important;
  }

  /***** [ Product ] *******/
  .showcase-products-content-heading {
    font-size: 100px;
  }

  .showcase-products-content-heading::after {
    width: 50%;
  }

  .product {
    text-align: center;
  }

  .slick-slider {
    margin: 0 20px !important;
  }

  .ui.stackable.grid > .wide.column.column.product-content {
    box-shadow: 0 7px 8px -4px rgba(49, 49, 0, 0.08),
      0 5px 22px 4px rgba(49, 49, 0, 0.048) !important;
    margin: 10px 100px !important;
    border-radius: 20px !important;
    padding: 40px !important;
  }

  .trafficroadsafety-trafficsigns-desc {
    font-size: 14px;
  }

  /****** [ About Us ] *******/

  .showcase-aboutus-content-heading {
    font-size: 100px;
  }

  .mission-content-aboutus {
    border-right: none !important;
  }

  .ui.grid .ui.stackable.grid.president-content {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }

  .president-title {
    padding-right: 0 !important;
    font-size: 14px;
  }

  .mission-desc,
  .vision-desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  /**** Services *****/
  .ui.grid .ui.stackable.grid.services-content {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding: 40px !important;
  }

  .services-image {
    width: 100px !important;
    margin: 0 auto !important;
  }

  .ui.grid .ui.stackable.grid.customers-content {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding: 48px !important;
    height: auto !important;
  }

  .customers-heading {
    font-size: 50px !important;
    margin: 15%;
  }

  .customers-image {
    width: 100px !important;
    margin: 0 auto !important;
  }

  .customers-extradesc {
    padding: 0 75px !important;
  }

  /***** [ Product ] *******/

  .ui.stackable.grid > .wide.column.column.product-content {
    box-shadow: 0 7px 8px -4px rgba(49, 49, 0, 0.08),
      0 5px 22px 4px rgba(49, 49, 0, 0.048) !important;
    margin: 10px 30px !important;
    border-radius: 20px !important;
    padding: 40px !important;
  }

  .segment.content-product {
    padding: 75px 0 !important;
  }

  .safetysignages-desc-container {
    flex-direction: column;
  }

  /****** [ About Us ] *******/

  .president-image {
    width: 150px !important;
  }
}

@media only screen and (max-width: 320px) {
  .showcase-content-subheading {
    font-size: 25px;
  }
  .showcase-content-heading {
    font-size: 55px;
  }
  .showcase-content-desc {
    font-size: 14px;
    line-height: 1.5;
  }

  .showcase-content-button-leftcontainer a,
  .showcase-content-button-rightcontainer a {
    font-size: 14px;
  }
  .ui.grid .ui.stackable.grid.services-content {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    padding: 32px !important;
  }

  .customers-heading {
    font-size: 55px !important;
    margin: 10% 0px;
  }

  .ui.grid .ui.stackable.grid.customers-content {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .customers-title {
    font-size: 25px;
  }
  .customers-desc {
    font-size: 12px;
  }
  .customers-extradesc {
    font-size: 12px;
    padding: 0 40px !important;
  }

  .footer-content {
    padding: 50px !important;
  }

  /****** [ Product *******/

  .showcase-products-content-heading {
    font-size: 75px;
  }

  .ui.stackable.grid > .wide.column.column.product-content {
    padding: 20px !important;
    margin: 10px 5px !important;
  }

  .product-desc ul {
    font-size: 12px;
  }

  .product-content img {
    width: 100px !important;
  }

  /****** [ About Us ] *******/

  .showcase-aboutus-content-heading {
    font-size: 75px;
  }

  .ui.grid .ui.stackable.grid.president-content {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .aboutus-content-desc,
  .president-title,
  .mission-desc,
  .vision-desc {
    font-size: 12px;
  }

  .mission-heading,
  .vision-heading {
    font-size: 40px;
  }
}
