body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"), url(./fonts/BebasNeue-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url(./fonts/Bebas-Regular.otf) format("opentype");
}

.right_header .item {
  font-family: BebasNeue;
  border-radius: 0 !important;
  font-size: 20px;
  height: 100%;
  margin: 0 !important;
}

.ui.secondary.menu a.item:hover {
  background: #ffc425 !important;
  color: #fff !important;
}

.ui.menu {
  margin: 0 !important;
}

.ui.secondary.menu .active.item {
  box-shadow: none;
  background: #515100 !important;
  color: #fff !important;
  border-radius: 0 !important;
}
